name: 5
on:
  pull_request:
jobs:
  send_email:
    runs-on: ubuntu-latest
    steps:
      - name: Send mail
        uses: dawidd6/action-send-mail@v2
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: PR Opened
          body: "Hey!  Someone opened a PR.  Go check it out!"
          to: jeff@jeffschuman.com
          from: Jeff Schuman
